/mnt
cache/
dlna/
logs/
log/
xdg/
metadata/
MediaCover/
*.resume
torrents/
Backups/

# Sonarr / Radarr / Bazarr
.DS_Store
log.txt
*.bak
*.db-shm
*.db-wal
*.pid
logs.db
dht.dat

# Jellyfin
transcoding-temp/
stats.json
config/jellyfin/data/devices
config/jellyfin/data/ScheduledTasks
config/jellyfin/config/users
activitylog.db
device.txt


# Transmission
blocklist-update.sh
blocklist/
remuse/